.section-containers {
	margin: 7em 0em 4em 0em;
}
p {
	font-size: 1.5em;
	color: #c2c2c2;
	font-family: 'Inconsolata', monospace;
}

h1 {
	font-family: 'Francois One', sans-serif !important;
	letter-spacing: 0.1em;
	color: #fff !important;
}

h3 {
	font-family: 'Francois One', sans-serif !important;
	letter-spacing: 0.1em;
}

.section-headers {
	font-family: 'Bebas Neue', cursive !important;
	font-size: 3em !important;
}

.name-logo {
	font-family: 'Lobster', cursive !important;
	font-size: 2.3em !important;
	margin: 0;
}
